<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/application.css" />
    <title>{{ .pageTitle }}</title>
    <style>
        {{ customCSS }}
    </style>
  </head>
  <body>
      <div class="mt-4 mb-4">
      <nav class="container">
        <div class="logo text-xl font-bold">
          <a href="/">{{ .blogTitle }}</a>
        </div>
        <div>
          <ul class="inline-block">
            {{ range .pages }}
            <li class="inline-block ml-4 nav-link">
                <a href="{{ .Path }}">{{ .Title }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </nav>
    </div>
    {{ yield . }}
    <div class="mt-12 pt-12 pb-12 font-serif text-center text-gray-700 text-small border-t">
    <h3>a bite is better than nothing.</h3>
    <p>© 2022 shiweifu</p>
    </div>
    {{/* {{ render "partials/nav.html" . }}  */}}
    {{/* {{ render "partials/footer.html" . }} */}}
  </body>
  <script src="/assets/js/application.js"></script>
  <script>
    {{ customJS }}
  </script>
</html>
